{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <p>Welcome to Vydehi, an extraordinary international school and community that is a second home to globally mobile families living in and around Zurich. Established in 1960, we are the international school of first choice for students aged 18 months to 18 years. We are the only school in Zurich offering the three main programmes of the International Baccalaureate (IB).

            An IB education is the preferred option for international families because it is transferable. Families moving on from Vydehi can easily transfer to other high calibre private schools in other countries or public schools in their home country. A continuity of learning, reassurance, certainty and stability for children is found with the Programme.
        </p>
    </div>
    <div class="col-sm-8 offset-2">
        <p>At Vydehi, you learn to be open-minded and approach unfamiliar situations with more ease. This, I believe, is an invaluable asset in today’s globalized world. There are not many other places where you have the chance to grow up in such a multicultural setting and make friends from all over the globe.
            Sabrina S, Vydehi Class of 2012,
            PhD candidate, Economics,
            University of St Gallen,
            Switzerland and award-winning Triathlete
        </p>
    </div>     
</div>
{% endblock content %}
<div></div>