{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <h5 class="text-center">CONTACT US</h5>
        <p class="text-center">
            Ydehi Inter-Community School,
            9th A Main Road,Near SBI Bank,
            HSR Layout, Bangalore,
            Karnataka 560008
        </p>
    </div>
    <div class="col-sm-8 offset-2">
        <h5 class="text-center">Email Us</h5>
        <p class="text-center">
            contact@vyadehi.co
        </p>
    </div>
    <div class="col-sm-8 offset-2">
        <h5 class="text-center">Call Us</h5>
        <p class="text-center">
            +91-8462605546
        </p>
    </div>   
</div>
{% endblock content %}

