{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <strong><br><br>
            <p>The Vydehi School of Excellence is committed to impart quality education of global standards through valued learning experience that unfolds the unique potential and talent of each child. To create lifelong learners, global citizens and inspirational leaders of tomorrow who are innovative and have a strong sense of values.</p>
        </strong><br><br>
        <img src="../static/images/Postive-education-what-makes-a-kid-happy-at-school.jpg">
    </div>   
</div>
{% endblock content %}

